
.custom-form{
  width:40%;
  margin:  5rem  auto;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 3rem;
  
}
.side-link{
  text-align: center;
  background-color:#001529 ;
  margin-top: 1rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  
}

.upload-section{
  width:70%;
  margin: 0 auto;
  border: 2px solid orange;
  padding:2rem 3rem 8rem 3rem;
  margin-top: 2rem;
  text-align: center;
}
.upload-section h3{
  margin: 1rem 0px 4rem 0px;
  text-align: center;
}
.login-head{
  text-align: center;
  margin: 0rem 0px 3rem 0px;
}